table{
    width: 600px;
    border-spacing:0 ;
    border: 2px solid #bbb;
}
#tbl tr{
    height:27px;
}
#tbl tr th, #tbl tr td{
    text-align: left;
    border-bottom: 2px solid #ccc;
}
#tbl tr:last-child td{
    border: none;
}